.ai-glow-mask{
    -webkit-mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, transparent 20%, black 100%);
    mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, transparent 20%, black 100%);
};


.hoverText{
    transition: 0.7s font-weight, 0.5s color;
}
.hoverText:hover{
    font-weight: 700;
    color: rgb(248, 244, 244);
}

/*  to right */
.hoverText:hover + .hoverText {
    font-weight: 600;
    color: rgb(223, 220, 220);
}
.hoverText:hover + .hoverText + .hoverText {
    font-weight: 500;
}

/* to left */
.hoverText:has(+ .hoverText:hover){
    font-weight: 400;
    color: rgb(204, 199, 199);
}
.hoverText:has(+ .hoverText + .hoverText:hover){
    font-weight: 300;
}